.overlay--item__container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background: var(--gradient-color);
  background-repeat: no-repeat;
  height: 90vh;
  justify-content: center;
  margin-bottom: 50px;
  h2 {
    font-size: 24px;
    font-weight: 500;
    text-align: right;
    padding-right: 0.5rem;
  }
  button {
    margin: 0.5rem 0;
    display: flex;
    align-items: right;
    justify-content: flex-end;
  }
}
// in AppEatIt nutze ich den IconButton und erweitere den mit diesem styling
