$open: false;

.blur {
  width: 100%;
  height: 100%;
  background: var(--gradient-color);
  position: fixed;
  opacity: 0;
  top: 0;
  right: 0;
  backdrop-filter: blur(10px);
  @if $open {
    opacity: 0;
    visibility: hidden;
  } @else {
    opacity: 0.7;
  }

  transition: opacity 0.3s ease-in-out;
}

.overlay__container {
  right: 0;
  top: 0;
  text-align: right;
  @if $open {
    transform: translateX(0);
  } @else {
    transform: translateX(100%);
  }
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: max-content;
  position: fixed;
}
